@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: yellow;
  --foreground: rgb(127, 39, 39);
}

[data-theme="dark"] {
  --background: red;
  --foreground: blue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
